@use "./pages/_home" as *;
@use "./pages/_project-details" as *;
@use "./pages/_contact" as *;
@use "./pages/_service-section" as *;
@use "./pages/_cards" as *;
@use "./pages/_industries" as *;
@use "./pages/_products" as *;
@use "./pages/_locations" as *;
@use "./pages/_location-detail-page" as *;
@use "./components/_integrations" as *;