.whatsappButton {
  position: fixed;
  bottom: 75px;
  left: 7px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: bounce 2s infinite;
}

.whatsappIcon {
  width: 55px;
  height: 55px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 992px) {
  .whatsappButton {
    bottom: 70px;
    left: 10px;
    width: 45px;
    height: 45px;
  }

  .whatsappIcon {
    width: 45px;
    height: 45px;
  }
}
