.terms-container {
    min-height: 100vh;
    padding: 0px 0;
  }
  
  .terms-content {
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(173, 216, 230, 0.5), 0 6px 6px rgba(173, 216, 230, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
  
    @media (max-width: 768px) {
      padding: 20px;
    }
  }
  
  .titles {
    color: #2c3e50;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    background: linear-gradient(45deg, #2c3e50, #3498db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  
  .last-updated {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .section {
    margin-bottom: 40px;
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    @media (max-width: 992px) {
        padding: 6px;
      }
    &:hover {
      transform: translateY(-2px);
    }
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .section-title {
    color: #ef5226;
    font-size: 24px;
    font-weight: 600;
    // margin-bottom: 16px;
    padding-bottom: 8px;
    // display: inline-block;
  
    @media (max-width: 992px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  
  .paragraph {
    color: var(--bs-black-color);
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 16px;
  }
  
  .list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 16px;
  
    li {
      color: var(--bs-black-color);
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 12px;
      padding-left: 24px;
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: 8px;

      .list-icon {
        color: var(--bs-primary-500);
        font-size: 18px;
        margin-top: 4px;
        flex-shrink: 0;
      }
    }
  }
  
 