.chartContainer {
    width: 100%;
    height: 500px;
    // background-color: #f8f9fa;
    // border: 1px solid #e9ecef;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    svg {
        display: block;
        width: 100%;
        height: 100%;
      }
  }
  
  .containerFluid {
    padding: 20px;
  }
  
  .rowCentered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .colResponsive {
    width: 100%;
    max-width: 90%;
  }
  @media (max-width: 1200px) {
    .chartContainer {
      height: 450px;
    }
}
  @media (max-width: 992px) {
    .chartContainer {
      height: 400px;
    }
  }
  
  @media (max-width: 768px) {
    .chartContainer {
      height: 350px;
    }
  }
  
  @media (max-width: 576px) {
    .chartContainer {
      height: 300px;
    }
  }
  