/*=============================
	25. Contact Us Page CSS Start
===============================*/
.ep-contact-section {
   
  .contact-information {
    margin-bottom: 80px;
    
    .info-item {
      // border: 1px solid var(--bs-border-color);
      padding: 20px 30px;
      height: 100%;
      background-color: #fff;
      box-shadow: 0 4px 10px #f1d6cf;

      .icon {
        width: 65px;
        height: 65px;
        transition: var(--bs-transition);
      }

      .text {
        .title {
          margin-bottom: 7px;
        }

        ul {
          li {
            color: var(--bs-paragraph-color);

            a {
              color: var(--bs-paragraph-color);

              &:hover {
                color: var(--bs-primary-color);
              }
            }
          }
        }
      }

      &:hover {
        .icon {
          background-color: var(--bs-primary-color);
          color: var(--bs-white-color);
        }
      }
    }
  }

  .contact-form {
    border-radius: 40px;
    padding: 60px;
    margin-bottom: -95px;
    z-index: 1;
    background-color: var(--bs-white-color);
    box-shadow: 0 4px 10px #f1d6cf;
    .title {
      margin-bottom: 46px;
    }

    .input-group {
      .form-field {
        background-color: transparent;
        height: 60px;
      }

      .textarea-control {
        height: 149px;
      }
      .errorMessage{
        font-size: 14px;
        font-weight: 500;
        margin-top: 2px;
        color: red;
      }
    }

    .theme-btn {
      max-width: 570px;
      width: 100%;
      background-color: var(--bs-primary-color);
    }
  }

  .contact-map {
    margin-bottom: -60px;

    iframe {
      width: 100%;
      height: 737px;
    }
  }
}

@media (max-width:1199.98px) {
  .ep-contact-section .contact-map iframe {
    height: 437px;
  }
}

@media (max-width:991.98px) {
  .ep-contact-section .contact-form .title {
    font-size: 42px;
  }

  .ep-contact-section .contact-form {
    padding: 30px;
  }
}

@media (max-width:575.98px) {
  .ep-contact-section .contact-form .title {
    font-size: 38px;
    margin-bottom: 20px;
  }
}