.section {
  padding: 60px 0;
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
  color: #666;
  max-width: 700px;
  margin: 0 auto;
}

.calendlyWrapper {
  min-width: 100%;
  height: 700px;
}
