@use '../common/common' as *;
@use '../components/navbar' as *;
@use '../components/banner' as *;
@use '../components/features' as *;
@use '../components/about' as *;
@use '../components/services' as *;
@use '../components/who-we-are' as *;
@use '../components/counter' as *;
@use '../components/pricing' as *;
// @use '../components/call-to-action' as *;
@use '../components/testimonial' as *;
@use '../components/projects' as *;
@use '../components/text-slider' as *;
@use '../components/faq' as *;
@use '../components/blog' as *;
@use '../components/footer' as *;
@use '../components/page-header' as *;
@use '../components/why-choose-us' as *;
@use '../components/contact-form' as *;
@use '../components/integrations' as *;
@use '../components/support' as *;
@use '../components/locations' as *;
@use '../components/step-wise' as *;
@use '../components/compare-plans' as *;
// @use '../components/faq-section' as *;
@use '../components/faq.scss' as *;
@use '../components/business_card' as *;
@use '../components/bi' as *;
@use '../components/audit-section' as *;
@use '../components/video-section' as * ;
// @use '../components/module' as * ;


