// styles/BusinessSection.scss

.businessSection {
  // padding: 120px 0;


  @media (max-width: 992px) {
    padding: 60px 0;
  }
  
  .sectionTitle {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-weight: bold;
    }
  }

  .businessThumbnail {
    // margin-left: -50px;
    position: relative;

    .mimg {
      width: 100%;
      height: auto;
    }

    .lineCard,
    .boxCard {
      position: absolute;
      right: 400px;
    }

    .lineCard {
      bottom: -50px;
      right: 10px;
      animation: lr 2s linear infinite;
    }
  }

  .businessContent {
    text-align: center;

    @media (min-width: 992px) {
      text-align: start;
    }

    .pra {
      border-bottom: 1px solid #ddd;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }

    .businessItems {
      margin-bottom: 2rem;

      img {
        margin-bottom: 1rem;
      }

      h5 {
        // margin-bottom: 1rem;

        a {
          color: #000;
          text-decoration: none;
        }
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@keyframes lr {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.servicesSection {
  .sectionTitle {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1;

    span {
      display: block;
      color: #00b0ee;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 32px;
      font-weight: 700;
    }
  }
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
  transition-property: all;
}
.singleServicesBox {
  margin-bottom: 30px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  transition: 0.6s;
  position: relative;
  z-index: 1;
  border-radius: 25px 0 25px 0;
  padding: 35px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #00b0ee;
    border-radius: 0;
    transition: 0.6s;
  }

  .icon {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #eeeefd;
    border-radius: 50%;
    color: #00b0ee;
    transition: 0.6s;
    margin-bottom: 15px;

    i::before {
      font-size: 30px;
    }
  }

  h3 {
    margin-bottom: 0;
    transition: 0.6s;
    font-size: 22px;
    position: absolute;
    top: 48px;
    left: 95px;
  }

  p {
    font-size: 14px;
    transition: 0.6s;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .serviceBtn {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
    color: #737b9a;
    font-weight: 600;
    transition: 0.6s;

    i {
      position: relative;
      transition: 0.6s;
      color: #737b9a;
      top: 1px;
      margin-left: 5px;
    }
  }
}
