.tf__popular_services_2 {
    margin-top: 95px;
  }
  .tf__heading_area h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    text-transform: capitalize;
}

  .tf__single_services {
    background: url('/service_bg.png') center no-repeat;
    background-size: cover;
    padding: 60px;
    margin-top: 75px;
    height: 330px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    @media screen and (max-width:520px) {
        height: auto;
    }
@media screen and (max-width:992px) {
  height: 280px;
}  
    &::after {
      content: "";
      // background: #f3f7fb;
      background: var(--bs-secondary-50);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 4px;
      transition: all 0.3s linear;

    }
  
    &::before {
      content: "";
      background: url('/service_shapes.png') center no-repeat;
      background-size: cover;
      width: 60px;
      height: 60px;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      transition: all 0.2s linear;
    }
  
    span {
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      border-radius: 50%;
      display: block;
      background: var(--bs-primary-500);
      color: var(--bs-white-color);
      font-size: 40px;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      transition: all 0.3s linear;
      
  
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--bs-secondary-500);
        position: absolute;
        top: 3px;
        left: 0;
        border-radius: 50%;
        z-index: -1;
        transition: all 0.3s linear;
      }
    }
  
    h3 {
      font-size: 22px;
      // font-weight: 700;
      margin: 25px 0 18px;
      line-height: 30px;
      z-index: 1;
      position: relative;
      transition: all 0.3s linear;
    }
  
    p {
      position: relative;
      z-index: 1;
      transition: all 0.3s linear;
    }
  
    a {
      display: none;
    }
  
    &:hover {
      &::after {
        opacity: 0;

      }
  
      h3,
      p {
        color: var(--bs-white-color);
    }
  
      span {
        background: var(--bs-primary-500);
        color: var(--colorWhite);
  
        &::after {
        //   background: var(--colorPrimary);
          background: var(--bs-white-color);

          top: -3px;
        }
      }
  
      &::before {
        opacity: 0;
      }
    }
  }
  