.faqSection {
  padding: 80px 0;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 20px;
}

.contentt {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.textContent {
  flex: 1;
  max-width: 45%;
}

.support {
  color: var(--bs-primary-500);
  font-size: 16px;
  font-weight: 600;
  // margin-bottom: 20px;
  letter-spacing: 1px;
}

.titlee {
  color: #1a1a1a;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 24px;
}

.subtitle {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 32px;
}
.faq-title{
  font-size: 26px;
    font-weight: 700;
    color: var(--bs-primary-500);
}
.getInTouch {
  background-color: #05afcc;
  color: white;
  border: none;
  padding: 16px 32px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--bs-secondary-600);
  }
}

.imageWrapper {
  margin-top: 40px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.faqList {
  flex: 1;
  max-width: 45%;
}

.faqItem {
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;

  &.active {
    .questionButton {
      color: var(--bs-black-color);
      
      .icon {
        background-color: var(--bs-primary-500);
        color: white;
      }
    }
  }
}

.questionButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: none;
  border: none;
  text-align: left;
  font-size: 20px;
  // font-weight: 600;
  color: #1a1a1a;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #000 !important;
    font-weight: 500 !important;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #f0f0f0;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease;
}

.answer {
  padding: 0 0 20px;
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .textContent,
  .faqList {
    max-width: 100%;
  }

  .textContent {
    text-align: center;
    margin-bottom: 40px;
  }

  .imageWrapper {
    margin: 40px auto;
    max-width: 500px;
  }

  .title {
    font-size: 36px;
  }

  .questionButton {
    font-size: 18px;
  }
} 