
.faq-section{
    // margin-top: 60px;

    .faq-title {
      font-size: 30px;
      font-weight: 700;
      color: var(--bs-primary-500);
  
      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
    .faq-body {
      .accordion-button:focus {
        box-shadow: none;
      }
  
      .accordion-item {
        border: none !important;
        margin: 10px 0;
        background-color: var(--bs-white-color) !important;
        border-radius: 30px;
        transition: all 0.3s ease;
      }
      .accordion-item+.accordion-item {
        margin-top: 30px;
      }
  
      .accordion-button:not(.collapsed) {
        background-color: transparent;
        box-shadow: none;
      }
      .accordion-button {
        color: #000;
        border: 1px solid #ccc;
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
        background-color: var(--bs-secondary-20) !important;

        @media (max-width: 767.98px) {
          font-size: 15px;
          line-height: 24px;
        }
      }
      // .accordion-body {
      //   padding: 0 30px 30px 30px;
      // }
      .accordion-button::after {
        background-image: url(../../images/icons/plus-solid.svg);
        transition: none;
        background-position: 0 0;
      }
      .accordion-button:not(.collapsed)::after {
        background-image: url(../../images/icons/dash-lg.svg);
        background-position: 0 8px;
      }
    }
  }
  
