/*=============================
	19. Footer CSS Start
===============================*/
// Footer section one
.ep-footer-section {
  .footer-bg {
    // padding: 120px 0 30px 0;
    // padding: 10px 0 30px 0;
    // background-color: var(--bs-black-color);
    background-color: var(--bs-secondary-20);
    // background-image: url('../../images/bg/footer-bg-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .footer-short-info {
      background-color: var(--bs-black-color2);
      padding: 30px 22px;
      gap: 20px;
      transition: var(--bs-transition);

      .icon {
        width: 80px;
        height: 80px;
        background-color: rgba(255, 190, 22, 0.2);
      }

      .text {
        .title {
          color: var(--bs-white-color);
          font-size: 22px;
          font-weight: 700;
          line-height: 30px;
          margin-bottom: 10px;
        }

        p {
          color: var(--bs-white-color);
          color: #FFF;
          font-size: 15px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: -0.36px;
        }
      }

      &:hover {
        background-color: var(--bs-secondary-color);
      }
    }

    .footer-main {
      margin-top: 80px;

      .footer-widget {
        .logo {
          margin-bottom: 12px;
        }
        @media (max-width: 998px) {
          .logo {
           display: flex;
          }
        }
        .footer-title {
          color: var(--bs-Text-Dark-Color);
          font-size: 22px;
          font-weight: 700;
          line-height: 36px;
          // margin-bottom: 32px;
        }
      }

      .footer-about {
        .short-info {
          p {
            // color: var(--bs-white-color);
            color: var(--bs-Text-Dark-Color);
            // opacity: 0.8;
            font-size: 15px;
            padding-right: 20px;
          }
        }

        .contact-info {
          margin-top: 15px;

          ul {
            li {
              .icon {
                i {
                  color: var(--bs-primary-color);
                }
              }

              .title {
                color: var(--bs-Text-Dark-Color);
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0px;
                line-height: 36px;
              }

              p {
                text-align: left !important;
                font-size: 15px;
                color: var(--bs-Text-Dark-Color);
              }

              a {
                color: var(--bs-Text-Dark-Color);
          text-align: left;
                &:hover {
                  opacity: 1;
                }
              }
            }

            li+li {
              margin-top: 10px;
            }
          }
        }
      }

      .footer-links {
        ul {
          li {
            a {
              color: var(--bs-black-color);
              // opacity: 0.8;
              font-size: 15px;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: -0.36px;

              i {
                font-size: 14px;
                // color: var(--bs-primary-color);
                margin-right: 6px;
              }

              &:hover {
                opacity: 1;
                margin-left: 6px;
              }
            }
          }

          li+li {
            margin-top: 10px;
          }
        }
      }

      .services-widget {
        padding-left: 80px;
      }

      .links-widget {
        padding-left: 60px;
      }

      .recent-post-widget {
        max-width: 205px;

        ul {
          li {
            a {
              .title {
                color: var(--bs-white-color);
                font-size: 18px;
                font-weight: 700;
                line-height: 30px;
                margin-bottom: 3px;
                transition: var(--bs-transition);
              }

              small {
                color: var(--bs-white-color);
                font-family: var(--bs-font-secondary);
                font-size: 12px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: -0.36px;
                opacity: 0.8;

                i {
                  color: var(--bs-primary-color);
                  font-size: 12px;
                  margin-right: 5px;
                }
              }

              &:hover {
                .title {
                  color: var(--bs-primary-color);
                }
              }
            }
          }

          li+li {
            margin-top: 20px;
          }
        }
      }
    }

    .footer-bottom {
      // border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-top: 1px solid #ccc;
      margin-top: 30px;
      // padding-top: 30px;
      .footer-copyright {
        p {
          color: var(--bs-Text-Dark-Color);
          font-size: 15px;
          // opacity: 0.8;
        }
      }

      .footer-menu {
        ul {
          li {
            a {
              color: var(--bs-Text-Dark-Color);
              font-size: 15px;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: -0.36px;
              // opacity: 0.8;

              &:hover {
                opacity: 1;
              }
            }
          }

          li+li {
            margin-left: 29px;
          }
        }
      }
    }
  }
}

/* back to top button */
.progress-wrap {
  position: fixed;
  left: 30px;
  bottom: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;

  &.active-progress {
    opacity: 1;
    visibility: visible;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: var(--bs-primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}



.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


@media (max-width: 1399.98px) {
  .ep-footer-section .footer-bg .footer-short-info .text p {
    font-size: 16px;
    line-height: 26px;
  }

  .ep-footer-section .footer-bg .footer-main .services-widget {
    padding-left: 30px;
  }
}

@media (max-width: 1199.98px) {
  .ep-footer-section .footer-bg .footer-main .links-widget {
    padding-left: 0;
    margin-left: -20px;
  }
}

@media (max-width: 991.98px) {
  .ep-footer-section .footer-bg .footer-main .links-widget {
    padding-left: 0;
    margin-left: 0;
    text-align: left;
  }

  .ep-footer-section .footer-bg .footer-main .services-widget {
    padding-left: 0;
  }

  .ep-footer-section-two {
    padding-top: 260px;
  }

  .ep-footer-section-two .footer-bg {
    padding: 220px 0 30px 0;
  }
}

@media (max-width: 767.98px) {
  .ep-footer-section .footer-bg .footer-main {
    margin-top: 40px;
  }

  .footer-widget {
    text-align: center;
  }

  .ep-footer-section .footer-bg .footer-main .footer-about .contact-info li .d-flex {
    // justify-content: center;
    justify-content: left;

  }

  .ep-footer-section .footer-bg .footer-main .footer-about .short-info p {
    padding-right: 0;
    text-align: left;
  }

  .ep-footer-section .footer-bg .footer-main .recent-post-widget {
    max-width: 328px;
    margin: 0 auto;
  }

  .ep-footer-section .footer-bg {
    padding: 100px 0 30px 0;
  }

  .ep-footer-section .footer-bg .footer-bottom {
    margin-top: 40px;
  }

  .ep-footer-section .footer-bg .footer-main .services-widget {
    // text-align: center;
    text-align: left;

  }

  .ep-footer-section-two .video-image {
    margin-top: 0;
  }

  .ep-footer-section-two {
    padding-top: 100px;
  }

  .ep-footer-section .footer-bg {
    padding: 30px 0 30px 0;
  }

  .ep-footer-section-two .footer-bg .newsletter-widget .input-group {
    max-width: 100%;
  }

  .ep-footer-section-two .video-image .icon-box {
    width: 70px;
    height: 70px;
    font-size: 22px;
  }
}

@media (max-width: 575.98px) {
  .ep-footer-section .footer-bg .footer-bottom .footer-menu ul li a {
    font-size: 16px;
  }

  .ep-footer-section .footer-bg .footer-copyright p {
    font-size: 16px;
  }

  .ep-footer-section .footer-bg .footer-short-info {
    padding: 20px 20px;
  }

  .ep-footer-section .footer-bg .footer-bottom .footer-menu ul li {
    margin: 0 6px;
  }

  .ep-footer-section .footer-bg .footer-bottom .footer-menu ul li+li {
    margin-left: 0;
  }

  .ep-footer-section .footer-bg .footer-short-info .text .title {
    font-size: 20px;
  }
}