.flowAnimation {
  position: relative;
  overflow: hidden;
}

.flowOverlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: flow 3s infinite;
}

@keyframes flow {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

.flowAnimation:hover .flowOverlay {
  animation: flow 1.5s infinite;
} 