.ctaSection-container {
  background-image: url('/images/cta/cta-bg.webp'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  max-width: 1400px; 
  margin: 100px auto; 

  @media screen and (max-width:992px) {
    max-width: 400px;
     padding: 30px 20px;
     margin: 30px auto; 
  }
}

.ctaSection-content {
  text-align: center;
  max-width: 500px;
}

.ctaSection-title {
  font-size: 36px; 
  font-weight: 700;
  color: var(--bs-black-color);
  margin-bottom: 10px;
  
  @media screen and (max-width:992px) {
    font-size: 30px; 
  }
}

.ctaSection-subtitle {
  font-size: 18px;
  color: var(--bs-black-color);
  margin-bottom: 30px;
}

.ctaSection-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; 

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.ctaSection-button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;

  &--primary {
    background-color: var(--bs-primary-500); 
    color: #fff;

    &:hover {
      background-color: var(--bs-primary-600);
    }
  }

  &--outline {
    background-color: #fdfdfd42;
    color: #1e293b; 
    border: 1px solid #d1d5db;

    &:hover {
      border-color: var(--bs-primary-500);
    }
  }
}
